Pacagroup.Comercial.Creditos.ConsoleConsumer/Service References/ProxyCredito/CreditoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.38/WCFSoap2/CreditoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" />
  <xs:element name="ListarCredito">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="ListarCreditoResult" nillable="true" type="q1:ArrayOfCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCredito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="ObtenerCreditoResult" nillable="true" type="q2:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="credito" nillable="true" type="q3:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="RegistrarCreditoResult" nillable="true" type="q4:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="credito" nillable="true" type="q5:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="ActualizarCreditoResult" nillable="true" type="q6:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCredito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCreditoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>