Pacagroup.Comercial.Creditos.ConsoleConsumer/Service References/ProxyCredito/CreditoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCredito">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Credito" nillable="true" type="tns:Credito" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCredito" nillable="true" type="tns:ArrayOfCredito" />
  <xs:complexType name="Credito">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comision" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdCredito" type="xs:int" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tasa" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoCredito" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Credito" nillable="true" type="tns:Credito" />
</xs:schema>